.layout {
  height: 80vh;
  position: fixed;
  bottom: 10vh;
  width: 40vw;
  right: 30vw;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}
/* .space {
  margin-left: 28%;
  margin-top: 3%;
} */

.header {
  display: flex;
  justify-content: center;
}

.search_bar {
  margin-top: 2%;
  padding-right: 2%;
}

.humidity {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 20px;
  padding-bottom: 25px;
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
}

.icons {
  font-size: 20px;
}

.weather_icons {
  font-size: 200px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  height: 45%;
}

.wind {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 20px;
  padding-bottom: 25px;
  text-align: center;
}

.middle-col {
  display: flex;
  flex-direction: column;
}

.current_date {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 5px;
}

.temperature {
  display: flex;
  justify-content: center;
  font-size: 60px;
}

.city_name {
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding-top: 60px;
}

.clear_sky_icon {
  color: rgb(217, 152, 32);
}

.cloud_rain_icon {
  color: rgba(24, 80, 236, 0.633);
}

.footer,
.content,
.header {
  background-color: rgba(183, 208, 208, 0.5);
}

.footer {
  display: flex;
  justify-content: center;
}
